body {
    background: linear-gradient(135deg, #000000, #434343);
    color: white;
    font-family: Arial, sans-serif;

    text-align: center;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    /* overflow: hidden; */
}

button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: #45a049;
}
